# Sesi 1

Selamat datang di Hacktiv8!

Outline:
* Introduction to Python
* Data Types
* Variables

## Integers

In [1]:
print(100)

100

In [2]:
type(100)

int

In [3]:
print(10)
print(type(10))

10
<class 'int'>

In [6]:
10
type(10)

int

In [5]:
print(10)

10

In [8]:
print(9999999999999999999999999999999)
print(type(9999999999999999999999999999999))

9999999999999999999999999999999
<class 'int'>

In [9]:
print(-100)
print(type(-100))

-100
<class 'int'>

## Float

In [10]:
print(3.14)
print(type(3.14))

3.14
<class 'float'>

In [11]:
print(0.0105)
print(type(0.0105))

0.0105
<class 'float'>

In [12]:
print(.0105)
print(type(.0105))

0.0105
<class 'float'>

In [13]:
print(-0.134)
print(type(-0.134))
print(-.134)
print(type(-.134))

-0.134
<class 'float'>
-0.134
<class 'float'>

In [14]:
print(100)
print(100.0)
print(type(100))
print(type(100.0))

100
100.0
<class 'int'>
<class 'float'>

In [15]:
print(100.)
print(type(100.))

100.0
<class 'float'>

## Complex Number

In [17]:
print(1j)
print(type(1j))

1j
<class 'complex'>

In [18]:
print(5+1j)
print(type(5+1j))

(5+1j)
<class 'complex'>

## String

In [19]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [21]:
print('Hacktiv8', type('Hacktiv8'))

Hacktiv8 <class 'str'>

In [37]:
print("""Hacktiv8""")

Hacktiv8

In [22]:
print("Ibu berkata, "jangan ke sana!"")

SyntaxError: invalid syntax (448341544.py, line 1)

In [23]:
print('Ibu berkata, "jangan ke sana!"')

Ibu berkata, "jangan ke sana!"

In [24]:
print("Halo 'Qorin")

Halo 'Qorin

In [25]:
print('Halo 'Qorin')

SyntaxError: invalid syntax (1058971523.py, line 1)

In [26]:
print(''Qorin berkata, "jangan ke sana!"')

SyntaxError: invalid syntax (2303411072.py, line 1)

In [32]:
print("""'Qorin berkata, "jangan ke sana!".""")
print(''''Qorin berkata, "jangan ke sana!".''')

'Qorin berkata, "jangan ke sana!".
'Qorin berkata, "jangan ke sana!".

In [38]:
print("""s""")

s

In [34]:
print("""Hari ini.
Senin
Selasa
Rabu
...
...""")

Hari ini.
Senin
Selasa
Rabu
...
...

In [35]:
print('''Hari ini.
Senin
Selasa
Rabu
...
...''')

Hari ini.
Senin
Selasa
Rabu
...
...

In [36]:
print(type('''Hari ini.
Senin
Selasa
Rabu
...
...'''))

<class 'str'>

## Boolean

In [39]:
print(True)
print(False)
print(type(True), type(False))

True
False
<class 'bool'> <class 'bool'>

In [40]:
True

True

In [41]:
False

False

## Variable

In [42]:
n = 100
print(n)

100

In [43]:
print(n)
print(type(n))

100
<class 'int'>

In [44]:
course = "Hacktiv8"
print(course, type(course))

Hacktiv8 <class 'str'>

In [45]:
x = 5
y = 5
z = 10
print(x, y, z)

5 5 10

In [46]:
x = y = 5
z = 10
print(x, y, z)

5 5 10

In [47]:
a = b = c = d = e = 3.14
print(a, b, c, d, e)

3.14 3.14 3.14 3.14 3.14

### Naming Variables

In [48]:
3kij = 10

SyntaxError: invalid syntax (1224421060.py, line 1)

In [49]:
course name = 10

SyntaxError: invalid syntax (1437413432.py, line 1)

In [50]:
course_name = "hacktiv8"
print(course_name)

hacktiv8

In [51]:
course-name = "python"

SyntaxError: cannot assign to operator (1658888342.py, line 1)

In [52]:
name_1 = name_2 = "name"
print(name_1, name_2)

name name

In [53]:
age = 10
name = "dani"
print(age, name)

10 dani

## Operators, Expressions, Operands

In [54]:
width = 5
height = 10

In [56]:
print(width + height, type(width + height))
print(width - height, type(width - height))
print(width * height, type(width * height))
print(width / height, type(width / height))
print(width ** height, type(width ** height))
print(width % height, type(width % height))

15 <class 'int'>
-5 <class 'int'>
50 <class 'int'>
0.5 <class 'float'>
9765625 <class 'int'>
5 <class 'int'>

### Comparison Operator

In [58]:
print(width == height)
print(width > height)
print(width < height)
print(width >= height)
print(width <= height)
print(width != height)

False
False
True
False
True
True

### String Manipulation

In [62]:
session_name = "intro"
session_month = "july"

print(session_name + "::" + session_month)

intro::july

In [71]:
print(session_name + "10")

intro10

In [66]:
print(session_name / session_name)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [67]:
print(session_name * session_name)

TypeError: can't multiply sequence by non-int of type 'str'

In [74]:
print((session_name + " ") * 5)

intro intro intro intro intro

In [77]:
course_name = "intro to python for data science"
print(course_name, type(course_name))

intro to python for data science <class 'str'>

In [78]:
course_name.upper()

'INTRO TO PYTHON FOR DATA SCIENCE'

In [79]:
course_name.title()

'Intro To Python For Data Science'

In [84]:
"INTRO TO PYTHON".lower()

'intro to python'

In [82]:
course_name.count("o")

4

## Lists

In [85]:
print([1, 2, 3])

[1, 2, 3]

In [86]:
print(type([1, 2, 3]))

<class 'list'>

In [87]:
print([1, "string", "boolean", True, False, .14])
print(type([1, "string", "boolean", True, False, .14]))

[1, 'string', 'boolean', True, False, 0.14]
<class 'list'>

In [88]:
names = [
    "christina", "liana", "budi",
    "joice", "elianti", "genta", "qorin", "robin"
]
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin']

In [89]:
len(names)

8

In [90]:
names[0]

'christina'

In [91]:
names[7]

'robin'

In [92]:
names[-1]

'robin'

In [93]:
names[-8]

'christina'

In [94]:
names[-len(names)]

'christina'

In [95]:
names[len(names)-1]

'robin'

In [96]:
names[10]

IndexError: list index out of range

In [97]:
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin']

In [105]:
start = 2
end = 5
names[start:end]

['budi', 'joice', 'elianti']

In [107]:
start = 2
end = 5

start = -7
end = -5
names[start:end]

print(start, end)

-7 -5

In [108]:
print(start, end)

-7 -5

In [115]:
names[-1] = "dani"
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'dani']

In [116]:
names[-1]

'dani'

## Tuple

In [109]:
print(("foo", "bar", "baz"))
print(("foo", "bar", "baz"), type(("foo", "bar", "baz")))

('foo', 'bar', 'baz')
('foo', 'bar', 'baz') <class 'tuple'>

In [110]:
tuple_names = (
    "christina", "liana", "budi",
    "joice", "elianti", "genta", "qorin", "robin"
)
print(tuple_names, type(tuple_names))

('christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin') <class 'tuple'>

In [111]:
print(tuple_names[0], tuple_names[5], tuple_names[-5])

christina genta joice

In [112]:
tuple_names[0:2]

('christina', 'liana')

In [117]:
tuple_names[-1]

'robin'

In [118]:
tuple_names[-1] = "dani"

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [119]:
name_to_age = {"liana": 20, "robin": 30, "budi": 25}
print(name_to_age, type(name_to_age))

{'liana': 20, 'robin': 30, 'budi': 25} <class 'dict'>

In [120]:
name_to_age["liana"]

20

In [121]:
name_to_age["budi"]

25

In [122]:
name_to_age["robin"]

30

In [123]:
d = {1: -1, 2: 0, 3: 1}
print(d[1], d[2], d[3])

-1 0 1

In [124]:
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'dani']

In [125]:
name_to_age[names[1]]

20

In [126]:
name_to_age

{'liana': 20, 'robin': 30, 'budi': 25}

In [127]:
name_to_age["joice"] = 28
name_to_age["genta"] = 24
print(name_to_age)

{'liana': 20, 'robin': 30, 'budi': 25, 'joice': 28, 'genta': 24}

In [128]:
name_to_age["genta"] = 26
print(name_to_age)

{'liana': 20, 'robin': 30, 'budi': 25, 'joice': 28, 'genta': 26}

In [129]:
d = {}
d[1] = 2
d[2] = 3
print(d)

{1: 2, 2: 3}

In [130]:
name_to_age["christina"]

KeyError: 'christina'

In [135]:
name_to_age["budi"]

25

In [136]:
name_to_age.get("dani", "Not exist")

'Not exist'