# Sesi 2 - Control Flow

Outline:
* Conditional statements
* Looping
    * While loop
    * For loop

In [1]:
width = 10
height = 5

print("width:", width)
print("height:", height)

width = 11
height = 4

print("new width:", width)
print("new height:", height)

width: 10
height: 5
new width: 11
new height: 4

In [2]:
width = 10
height = 5

print("width:", width)
print("height:", height)

if height >= 5:
    width = 11
    height = 4

print("new width:", width)
print("new height:", height)

width: 10
height: 5
new width: 11
new height: 4

In [4]:
width = 10
height = 3

print("width:", width)
print("height:", height)

if height >= 5:
    width = 11
    height = 4

print("new width:", width)
print("new height:", height)

width: 10
height: 3
new width: 10
new height: 3

In [5]:
width = 11
height = 4

if width < height:
    print(width)

if width > height:
    print(width)

if width <= height:
    print(height)

if width >= height:
    print(height)

if width + height > 20:
    print(width + height)

11
4

In [10]:
is_now = True
is_yesterday = False

if is_now:
    print(width + height)

print("Still outside if statement 1")

if is_yesterday:
    print(width + height)

print("Outside if statement")
print("Still outside if statement 2")

15
Still outside if statement 1
Outside if statement
Still outside if statement 2

In [11]:
names = [
    "christina", "liana", "budi",
    "joice", "elianti", "genta", "qorin", "robin",
]
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin']

In [15]:
"budi" in names

True

In [24]:
print("GENTA" == "GENTA")
print("GENTA" == "GENTA ")

True
False

In [25]:
width = 10
height = 5

if "genta" in names:
    print("Inside if")

    if width / height == 2:
        print("width > height")

    print("Between inner if")

    if width * height > 50:
        print("it's large")
print("After if statement")

Inside if
width > height
Between inner if
After if statement

In [27]:
name = "genta"

if name in names:
    print("Inside if")

    if width / height == 2:
        print("width > height")

    print("Between inner if")

    if width * height > 50:
        print("it's large")
else:
    print(name, "is not in names")
print("After if statement")

Inside if
width > height
Between inner if
After if statement

In [29]:
name = "genta"

if name in names:
    print("Inside if")

    if width / height == 2:
        print("width > height")

    print("Between inner if")

    if width * height > 50:
        print("it's large")
if True:
    print(name, "is not in names")
print("After if statement")

Inside if
width > height
Between inner if
genta is not in names
After if statement

In [40]:
name_1 = "genta"
name_2 = "liana"

if name_1 in names:
    print("checking", name_1)
    print("Inside if")

    if width / height == 2:
        print("width > height")

    print("Between inner if")

    if width * height > 50:
        print("it's large")
elif name_2 in names:
    print("Checking", name_2)
    print(name_2, "is not in names")
elif name_1.lower() in names:
    print("checking", name_1.lower())
    print(name_1, "is not in names")
    print(name_1.lower(), "is in names")
else:
    print(name, "is not in names")
print("After if statement")

checking genta
Inside if
width > height
Between inner if
After if statement

In [41]:
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin']

In [48]:
new_names = ["Liana", "Budi", "Dani", "Qorin", "robin"]

index = 0
name = new_names[index]
print(index, name)

if name not in names:
    index = index + 1
    name = new_names[index]
    print(index, name)

    if name in names:
        print(names.index(name))
    else:
        index = index + 1
        name = new_names[index]
        print(index, name)
elif new_names[index+3] not in names:
    print(new_names[index+3])
    index = index+1
    name = new_names[index]
    print(name)

    if name in names:
        print(name)
        print(names.index(name))
    else:
        index = index + 1
        name = new_names[index]
else:
    print(name)
    print("Nothing to print")

0 Liana
1 Budi
2 Dani

In [46]:
print(index, name)

2 Dani

## While Loop

In [49]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [50]:
index = 0

while index < 10:
    print(index)
    index += 1
print("Looping stopped")

0
1
2
3
4
5
6
7
8
9
Looping stopped

In [51]:
print(names[0])
print(names[1])
print(names[2])

christina
liana
budi

In [52]:
names[9]

IndexError: list index out of range

In [53]:
print(len(names))

8

In [54]:
index = 0

while index < len(names):
    print("name:", names[index])
    index += 1

print("Looping stopped")

name: christina
name: liana
name: budi
name: joice
name: elianti
name: genta
name: qorin
name: robin
Looping stopped

In [56]:
index = 0

while index < 10:
    print("current index:", index)
    print("name:", names[index])
    index += 1
    print("updated index:", index)

print("Looping stopped")

current index: 0
name: christina
updated index: 1
current index: 1
name: liana
updated index: 2
current index: 2
name: budi
updated index: 3
current index: 3
name: joice
updated index: 4
current index: 4
name: elianti
updated index: 5
current index: 5
name: genta
updated index: 6
current index: 6
name: qorin
updated index: 7
current index: 7
name: robin
updated index: 8
current index: 8

IndexError: list index out of range

In [60]:
print("4! =", 24)
print("5! =", 120, 1, 2, 3, 4, 5)

4! = 24
5! = 120 1 2 3 4 5

In [65]:
n = 3
result = 1
i = 1

while i <= n:
    result = result * i
    i = i + 1

print("{}! = {}".format(n, result))

3! = 6

In [68]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
        print("n:", n)
    print(n)
print("Loop end!")

4
3
Loop end!

In [69]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        print("n:", n)
        break
    print(n)
print("Loop end!")

4
3
n: 2
Loop end!

In [72]:
name = "siti"
print(name[:2])
print(name[-1])

name[0] = "z"

si
i

TypeError: 'str' object does not support item assignment

In [73]:
index = 0

while index < len(names):
    if len(names[index]) > 4:
        print("name:", names[index])
    index += 1

print("Looping stopped")

name: christina
name: liana
name: joice
name: elianti
name: genta
name: qorin
name: robin
Looping stopped

In [75]:
index = 0

while index < len(names):
    if len(names[index]) > 4:
        print("name:", names[index])
    else:
        break
    index += 1

print("Looping stopped")

name: christina
name: liana
Looping stopped

In [76]:
print(index)

2

## For Loop

In [77]:
index = 0

while index < len(names):
    print("name:", names[index])
    index += 1

print("Looping stopped")

name: christina
name: liana
name: budi
name: joice
name: elianti
name: genta
name: qorin
name: robin
Looping stopped

In [78]:
for name in names:
    print("name:", name)
print("Looping stopped")

name: christina
name: liana
name: budi
name: joice
name: elianti
name: genta
name: qorin
name: robin
Looping stopped

In [79]:
print(name)

robin

In [80]:
for char in name:
    print(char)

r
o
b
i
n

In [81]:
props = (width, height)
print(props)

for prop in props:
    print(prop)

(10, 5)
10
5

In [82]:
for name in names:
    print("name:", name, ".. num characters:", len(name))

    for char in name:
        print(char)

name: christina .. num characters: 9
c
h
r
i
s
t
i
n
a
name: liana .. num characters: 5
l
i
a
n
a
name: budi .. num characters: 4
b
u
d
i
name: joice .. num characters: 5
j
o
i
c
e
name: elianti .. num characters: 7
e
l
i
a
n
t
i
name: genta .. num characters: 5
g
e
n
t
a
name: qorin .. num characters: 5
q
o
r
i
n
name: robin .. num characters: 5
r
o
b
i
n

In [83]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [85]:
range(5), type(range(5))

(range(0, 5), range)

In [86]:
range(10)

range(0, 10)

In [87]:
range(1, 11)

range(1, 11)

In [88]:
for i in range(5):
    print(i)

0
1
2
3
4

In [89]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [90]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [91]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [93]:
print(names)

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin']

In [94]:
for name in names:
    print(name)

christina
liana
budi
joice
elianti
genta
qorin
robin

In [95]:
for i in range(len(names)):
    print(names[i])

christina
liana
budi
joice
elianti
genta
qorin
robin

In [134]:
name_to_age = {"liana": 20, "robin": 30, "budi": 25}
print(name_to_age, type(name_to_age))

{'liana': 20, 'robin': 30, 'budi': 25} <class 'dict'>

In [97]:
for name in name_to_age:
    print(name)

liana
robin
budi

In [98]:
for name in names:
    print("{} -> {}".format(name, name_to_age.get(name, "Unknown")))

christina -> Unknown
liana -> 20
budi -> 25
joice -> Unknown
elianti -> Unknown
genta -> Unknown
qorin -> Unknown
robin -> 30

In [129]:
print(name_to_age.keys(), type(name_to_age.keys()))
print(name_to_age.values(), type(name_to_age.values()))

dict_keys(['liana', 'robin', 'budi']) <class 'dict_keys'>
dict_values([20, 30, 25]) <class 'dict_values'>

In [112]:
name_to_age["liana"]

20

In [113]:
name_to_age["budi"]

25

In [100]:
for name in name_to_age.keys():
    print("{} -> {}".format(name, name_to_age[name]))

liana -> 20
robin -> 30
budi -> 25

In [133]:
name_to_age.items()

dict_items([('liana', 20), ('robin', 30), ('budi', 25)])

In [120]:
list_tuple = [(1, 2), (3, 4, 5), (5, 6)]
print(list_tuple)

[(1, 2, 3), (3, 4, 5), (5, 6)]

In [121]:
list_tuple[0], list_tuple[1]

((1, 2, 3), (3, 4, 5))

In [123]:
x, y, z = list_tuple[1]
print(list_tuple[1])
print(x)
print(y)
print(z)

(3, 4, 5)
3
4
5

In [127]:
list_tuple = [(1, 2), (3, 4), (5, 6)]

for element in list_tuple:
    e1, e2 = element
    print(element, type(element))
    print(e1)
    print(e2)
for e1, e2 in list_tuple:
    print(e1, e2)

(1, 2) <class 'tuple'>
1
2
(3, 4) <class 'tuple'>
3
4
(5, 6) <class 'tuple'>
5
6
1 2
3 4
5 6

In [104]:
for key, value in name_to_age.items():
    print("{} -> {}".format(key, value))

liana -> 20
robin -> 30
budi -> 25

In [105]:
names

['christina', 'liana', 'budi', 'joice', 'elianti', 'genta', 'qorin', 'robin']

In [ ]:
start = 0
stop = 10
step = 1
range(start, stop, step)

In [108]:
range(0, 5, 1)

range(0, 5)

In [109]:
range(5)

range(0, 5)

In [110]:
range(0, 5)

range(0, 5)

In [106]:
for n in range(5):
    print(n)

0
1
2
3
4

In [111]:
for variable in names:
    print(variable)

christina
liana
budi
joice
elianti
genta
qorin
robin